.gallery{
    margin: 70px 100px;
    height: 100vh;
    display: flex;
    justify-content: center;

    .photos{
        width: 70%;
        display: grid;
        grid-template-columns: auto auto auto;

        .photo{
            border: 1px solid #d4b15d;
        }
    }
}

@media only screen and (max-width: 999px) {
    .gallery{
        margin: 20px;

        .photos{
            width: 100%;
            display: grid;
            grid-template-columns: auto;

            .photo{
                
            }
        }
    }
}