.gallery{
    margin: 70px 100px;
    // height: 100vh;
    display: flex;
    justify-content: center;

    .photos{
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto;

        .photo{
            border: 1px solid #d4b15d;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform 0.3s, z-index 0.3s;

                &:hover{
                    transform: scale(1.2);
                    z-index: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .gallery{
        margin: 20px;

        .photos{
            width: 100%;
            display: grid;
            grid-template-columns: auto;

            .photo{              
            }
        }
    }
}