<section class="gallery">
    <div class="photos">
        <div class="photo">
            <img src="assets/g1.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/g2.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/g4.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/g5.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/g6.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/g8.jpg" alt="">
        </div>
        <!-- <div class="photo">
            <img src="assets/g9.jpg" alt="">
        </div> -->
        <div class="photo">
            <img src="assets/g12.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/g13.JPG" alt="">
        </div>
        <div class="photo">
            <img src="assets/plc.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/CRAC.jpg" alt="">
        </div>
        <div class="photo">
            <img src="assets/me.jpg" alt="">
        </div>
    </div>
</section>
