.projects{
    margin: 70px 100px;
    display: flex;
    justify-content: center;

    .project-items{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .project-card{
            background-color: #212121;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;

            &:hover{
                border: 1px solid #d4b15d;
            }

            h3{
                color: #4d9352;
                margin-bottom: 10px;
            }
            p{
                color: #fff;
                margin-bottom: 30px;

                span{
                    color: #d4b15d;
                }
            }

            .stack{
                color: #fff;
                margin-bottom: 20px;
                display: flex;
                gap: 5px
            }

            .category{
                display: flex;
                gap: 10px;

                .link{
                    text-decoration: none;
                    color: #d4b15d;

                    span{
                        background-color: #282828;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .projects{
        margin: 20px;
    }
}