<section class="projects">
    <div class="project-items">
        <div class="project-card">
            <h3>Elewa</h3>
            <p>The Elewa Conversational Manager. An open-source chatbot editor and manager which allows to host and use conversational learning projects.<span> Open Source</span></p>
            <div class="stack">
                <span>- Angular</span>
                <span>- Firebase</span>
            </div>
            <div class="category">
                <!-- <a href="" class="link">
                    <span class="open">Open</span>
                </a> -->
                <a href="https://github.com/italanta/elewa" class="link">                    
                    <span class="github">Github</span>
                </a>
            </div>
        </div>
        <div class="project-card">
            <h3>Elewa-Website</h3>
            <p>The Elewa Conversational Manager. An open-source chatbot editor and manager which allows to host and use conversational learning projects.<span> Open Source</span></p>
            <div class="stack">
                <span>- Angular</span>
                <!-- <span>- Firebase</span> -->
            </div>
            <div class="category">
                <a href="https://elewa.education/home" class="link">
                    <span class="open">Open</span>
                </a>
                <a href="https://github.com/italanta/elewa-website" class="link">                    
                    <span class="github">Github</span>
                </a>
            </div>
        </div>
        <div class="project-card">
            <h3>Hospital-Management-System</h3>
            <p>This is application, allows users in a hospital environment to handle their daily records<span> Personal Project</span></p>
            <div class="stack">
                <span>- React</span>
                <span>- Rails</span>
            </div>
            <div class="category">
                <!-- <a href="" class="link">
                    <span class="open">Open</span>
                </a> -->
                <a href="https://github.com/thadeusdev/hospital-management-system" class="link">                    
                    <span class="github">Github</span>
                </a>
            </div>
        </div>
        <div class="project-card">
            <h3>Cargurux</h3>
            <p>A web application that users can use to view and buy cars. This web is ideal for car lovers.<span> Personal Project</span></p>
            <div class="stack">
                <span>- React</span>
                <!-- <span>- Firebase</span> -->
            </div>
            <div class="category">
                <a href="https://carguruz.netlify.app/" class="link">
                    <span class="open">Open</span>
                </a>
                <a href="https://github.com/thadeusdev/cargurux" class="link">                    
                    <span class="github">Github</span>
                </a>
            </div>
        </div>
    </div>
</section>
