<section class="blog">
    <div class="blog-item">
        <div class="blog-card">

            <h3>Welcome to my blog</h3>

            <div class="blog-img">
                <img src="assets/welcome.gif" alt="">
            </div>

            <p>Here you'll find a collection of my thoughts, and topics that i care about and believe are important. From personal development to technology and everything in between. I hope you'll find something here that resonates with you.</p>

            <p>Feel free to dive into any posts that catch your eye and don't hesitate to leave a comment if you have something to say. I'm always open to feedback and discussion.</p>

            <p>Thanks for stopping by, and I hope you enjoy your time here.</p>
            <div class="blog-owner">
                <p>Written by <span>Thadeus</span> on <span>1/18/2024</span></p>
                <a [routerLink]="['/blogs']" >
                    <span class="back-btn">Take me back</span>
                </a>
            </div>
        </div>
    </div>
</section>
