.blog{
    margin: 70px 100px;
    display: flex;
    justify-content: center;
    // height: 100vh;

    .blog-item{
        width: 70%;

        .blog-card{
            display: flex;
            flex-direction: column;
            gap: 30px;

            h3{
                font-size: 30px;
                color: #fff;
                align-self: center;
            }

            .blog-img{
                height: 25%;
                width: 25%;
                align-self: center;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            p{
                color: #fff; 
                font-size: 18px;               
            }

            .blog-owner{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p{
                    margin-bottom: 15px;
                    span{
                        color: #d4b15d;
                    }
                }
                a{
                    text-decoration: none;

                    .back-btn{
                        background-color: #212121;
                        color: #d4b15d;
                        padding: 7px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .blog{
        margin: 20px;

        .blog-item{
            width: 100%;

            .blog-card{
                .blog-img{
                    width: 300px;
                }
            }
        }
    }
}