<section class="contact-me">
    <div class="contact-item">
        <div class="left">
            <p>Drop me a line and I'll get back to you</p>
            <form action="">
                <input type="text" value="" placeholder="Your name">
                <input type="text" value="" placeholder="Company name">
                <input type="text" value="" placeholder="E-mail">
                <textarea name="" id="" placeholder="Message"></textarea>
            </form>
            <app-slider-button class="btn" [message]="'Send message'"></app-slider-button>
        </div>
        <div class="right">
            <img src="assets/contact-me.svg" alt="">
        </div>
    </div>
</section>
