.info{
    margin: 70px 100px;

    .info-content{
        display: flex;
        gap: 50px;

        .text-info{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            h2{
                font-size: 40px;
                color: #d4b15d;
            }

            p{
                font-size: 20px;
                color: #fff;
            }

        }

        .img-info{
            flex: 1;
            display: flex;
            justify-content: center;

        }
    }

    .row-crd{
        margin-top: 70px;

        h2{
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: bold;
            color: #d4b15d;
        }

        .cards{
            background-color: #d4b15d;
            display: flex;
            flex-direction: column;
            gap: 1px;
    
            .row1{
                display: flex;
                gap: 1px;
                min-height: 400px;
                margin: 1px 1px 0px 1px;
    
                .left-row1{
                    background-color: #272622;
                    flex: 2;
                    padding: 40px;
                    color: #fff;
                    
                    h3{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }
    
                    span{
                        font-weight: 300;
                        font-size: 20px;
                    }
                }
    
                .right-row1{
                    background-color: #272622;
                    flex: 1.2;
                    padding: 40px;
                    color: #fff;

                    h3{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }
    
                    span{
                        font-weight: 300;
                        font-size: 20px;
                    }    
                }
            }
    
            .row2{
                display: flex;
                gap: 1px;
                min-height: 400px;
                margin: 0px 1px 1px 1px;
    
                .left-row2{
                    background-color: #272622;
                    flex: 1.2;
                    padding: 40px;
                    color: #fff;

                    h3{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }
    
                    span{
                        font-weight: 300;
                        font-size: 20px;
                    }    
                }
    
                .right-row2{
                    background-color: #272622;
                    flex: 2;
                    padding: 40px;
                    color: #fff;

                    h3{
                        font-size: 30px;
                        margin-bottom: 30px;
                    }
    
                    span{
                        font-weight: 300;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .row-projects{
        margin-top: 70px;

        h2{
            margin-bottom: 30px;
            font-size: 40px;
            font-weight: bold;
            color: #d4b15d;
        }
        
        .projects{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 30px;

            .project-card{
                background-color: #212121;
                padding: 20px;
                border-radius: 10px;
                flex: 0.5;

                h3{
                    color: #4d9352;
                    margin-bottom: 10px;
                }
                p{
                    color: #fff;
                    margin-bottom: 10px;
                }

                .bottom{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #d4b15d;

                    .left{
                        display: flex;
                        gap: 10px;
                        
                        .stars{
                            background-color: #282828;
                            padding: 5px;
                            border-radius: 5px;

                            span{
                                margin-left: 5px;
                            }
                        }

                        .fork{
                            background-color: #282828;
                            padding: 5px;
                            border-radius: 5px;

                            span{
                                margin-left: 5px;
                            }
                        }
                    }
    
                    .right{
                        display: flex;
                        gap: 5px;

                        .stack{
                            background-color: #282828;
                            padding: 5px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .info{
        margin: 20px;

        .info-content{
            display: flex;
            flex-direction: column;  
            
            .text-info{
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 18px;
                }
            }
        }

        .row-crd{
            h2{
                font-size: 30px;
            }

            .cards{

                .row1{
                    display: flex;
                    flex-direction: column;

                    .left-row1{
                        padding: 20px;

                        h3{
                            font-size: 25px;
                        }

                        span{
                            font-size: 18px;
                        }
                    }
                    .right-row1{
                        padding: 20px;

                        h3{
                            font-size: 25px;
                        }

                        span{
                            font-size: 18px;
                        }
                    }
                }
                .row2{
                    display: flex;
                    flex-direction: column;

                    .left-row2{
                        padding: 20px;

                        h3{
                            font-size: 25px;
                        }

                        span{
                            font-size: 18px;
                        }
                    }
                    .right-row2{
                        padding: 20px;

                        h3{
                            font-size: 25px;
                        }

                        span{
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .row-projects{
            h2{
                font-size: 30px;
            }
            .projects{
                display: flex;
                flex-direction: column;

                .project-card{
                    padding: 10px;
                    
                    h3{
                        font-size: 21px;
                    }

                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}