<section class="info">
    <div class="info-content">
        <div class="text-info">
            <h2>Hello and Welcome!</h2>
            <p>I'm Thadeus, a software engineer, Data center engineer and Physicist who's been commenting and building android apps, web apps and Data centers since passion is a thing. (Yup, it's true! 😆)</p>
            <p>This is my home base on the internet. I hope you enyoy browsing around 📍</p>
            <app-slider-button [message]="'Get in touch with me'"></app-slider-button>
        </div>
        <div class="img-info">
            <app-stacked-image [imageSrc]="'assets/hero.jpg'"></app-stacked-image>
        </div>>
    </div>

    <div class="row-crd">
        <h2>Things I Do</h2>
        <div class="cards">
            <div class="row1">
                <div class="left-row1">
                    <h3>Web Development</h3>
                    <span>Armed with expertise in Angular, React, Next.js, Ruby, Firebase, and Heroku, I seamlessly navigate the realms of front-end and back-end development. My journey includes meaningful contributions to open source projects, showcasing my commitment to community-driven innovation. Whether crafting dynamic user interfaces or building scalable server-side solutions, I thrive on creating seamless and impactful web experiences. Let's turn ideas into digital realities!</span>
                </div>
                <div class="right-row1">
                    <h3>Android Development</h3>
                    <span>Using Java, Android Studio, and Firebase, I build robust and user-centric applications. From designing intuitive user interfaces to implementing powerful backend solutions with Firebase, I am passionate about delivering seamless mobile solutions. With a track record of contributing to innovative projects, my commitment to excellence in Android development shines through. Let's bring your app ideas to life and make an impact in the ever-evolving world of mobile technology!</span>
                </div>
            </div>
            <div class="row2">
                <div class="left-row2">
                    <h3>Data Center Operations</h3>
                    <span>Being a seasoned professional with a strong background in operating world-class data centers. With specialized expertise in Electrical & Electronics and Networking, I bring a wealth of experience to the realm of technology infrastructure. Proficient in handling the intricacies of data center operations, my skills extend from ensuring robust electrical systems to implementing cutting-edge networking solutions. From optimizing performance to ensuring seamless connectivity, I am dedicated to maintaining the highest standards in data center excellence. Let's collaborate to elevate your infrastructure and take it to the next level in the dynamic world of technology.</span>
                </div>
                <div class="right-row2">
                    <h3>Instruments and Control</h3>
                    <span>Worked in the field of Instrumentation and Control, specializing in PLC (Programmable Logic Controller), DCS (Distributed Control System), Modbus, and precision gauges. With a strong foundation in managing industrial automation systems, I excel in designing, implementing, and optimizing control processes. My expertise lies in seamlessly integrating PLCs and DCS for efficient control, utilizing Modbus for communication, and ensuring accurate measurements through precision gauges. Having contributed to the orchestration of sophisticated control solutions, I am passionate about enhancing operational efficiency and reliability. Let's collaborate to bring precision and innovation to your industrial processes.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row-projects">
        <h2>Some Items I've Built</h2>
        <div class="projects">
            <div class="project-card">
                <h3>Elewa</h3>
                <p class="desc">The Elewa Conversational Manager. An open-source chatbot editor and manager which allows to host and use conversational learning projects</p>
                <div class="bottom">
                    <div class="left">
                        <div class="stars">
                            <i class="fa-regular fa-star"></i>
                            <span>45</span>
                        </div>
                        <div class="fork">
                            <i class="fa-solid fa-code-fork"></i>
                            <span>235</span>
                        </div>
                    </div>
                    <div class="right">
                        <span class="stack">Angular</span>
                    </div>
                </div>
            </div>
    
            <div class="project-card">
                <h3>Hospital-Management-System</h3>
                <p class="desc">This is application, allows users in a hospital environment to handle their daily records</p>
                <div class="bottom">
                    <div class="left">
                        <div class="stars">
                            <i class="fa-regular fa-star"></i>
                            <span>3</span>
                        </div>
                        <div class="fork">
                            <i class="fa-solid fa-code-fork"></i>
                            <span>2</span>
                        </div>
                    </div>
                    <div class="right">
                        <span class="stack">Rails</span>
                        <span class="stack">React</span>
                    </div>
                </div>
            </div>
    
            <div class="project-card">
                <h3>Elewa-Website</h3>
                <p class="desc">This is a website which uses Angular Universal to render while integrating webflow CMS blog posts</p>
                <div class="bottom">
                    <div class="left">
                        <div class="stars">
                            <i class="fa-regular fa-star"></i>
                            <span>9</span>
                        </div>
                        <div class="fork">
                            <i class="fa-solid fa-code-fork"></i>
                            <span>129</span>
                        </div>
                    </div>
                    <div class="right">
                        <span class="stack">Angular</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
