<section class="about">
    <div class="about-info">
        <div class="about-info">
            <h2>Who am I?</h2>
            <p>I'm Thadeus Nyariki, and this is my website on the internet. I write about topics that i care about and believe are important. I try to bring authentic voice averytime i set out to type, and 1 strive to share a viewpoint that gets you thinking and inspired to dig deeper. </p>
            <p>What are some of the topics i write about? Generally you'll see me covering:</p>
    
            <div class="topics">
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Android and Web development</span>
                </div>
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Data Center and IT industry</span>
                </div>
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Physics related topics</span>
                </div>
            </div>
    
            <p>My Tagline once said that I'm a Software engineer, Data center engineer and Instruments & control technician. Let's unpack that a bit, shall we?</p>
        </div>
        <div class="img-info">
            <app-pill-image [imageSrc]="'assets/hero1.JPG'"></app-pill-image>
        </div>
    </div>

    <app-subscribe-newsletter class="news-lt"></app-subscribe-newsletter>
    
</section>
