.about{
    margin: 70px 100px;
    display: flex;
    flex-direction: column;

    .about-info{        
        display: flex;
        gap: 50px;
    
        .about-info-txt{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
    
            h2{
                font-size: 40px;
                color: #d4b15d;
            }
    
            p{
                font-size: 20px;
                color: #fff;
            }
            .topics{
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                .topic-item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 20px;
    
                    .fa-circle-check{
                        color: #4d9352;
                    }
    
                    span{
                        color: #fff;
                    }
                }
            }
        }
        .img-info{
            flex: 1;
        }
    }

    .news-lt{
        width: 70%;
        align-self: center;
    }

    .my-info{
        margin-top: 70px;
        
        .my-info-item{
            display: flex;
            flex-direction: column;
            gap: 30px;
    
            h2{
                font-size: 40px;
                color: #d4b15d;
            }
            span{
            }
            p{
                font-size: 20px;
                color: #fff;

                strong{
                    color: #4d9352;
                }
            }
        }
    }

}

@media only screen and (max-width: 999px) {
    .about{
        margin: 20px;

        .about-info{
            display: flex;
            flex-direction: column;

            .about-info-txt{
                h2{
                    font-size: 30px;
                }

                p{
                    font-size: 18px;
                }
            }

            .img-info{
                align-self: center;
            }
        }

        .news-lt{
            width: 100%;
        }

        .my-info{
            .my-info-item{
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}