<section class="about">
    <div class="about-info">
        <div class="about-info-txt">
            <h2>Who am I?</h2>
            <p>I'm Thadeus Nyariki, and this is my website on the internet. I write about topics that i care about and believe are important. I try to bring authentic voice averytime i set out to type, and 1 strive to share a viewpoint that gets you thinking and inspired to dig deeper. </p>
            <p>What are some of the topics i write about? Generally you'll see me covering:</p>
    
            <div class="topics">
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Android and Web development</span>
                </div>
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Data Center and IT industry</span>
                </div>
                <div class="topic-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>Physics related topics</span>
                </div>
            </div>
    
            <p>My Tagline once said that I'm a Software engineer, Data center engineer and Instruments & control technician. Let's unpack that a bit, shall we?</p>
        </div>
        <div class="img-info">
            <app-pill-image [imageSrc]="'assets/hero1.JPG'"></app-pill-image>
        </div>
    </div>

    <app-subscribe-newsletter class="news-lt"></app-subscribe-newsletter>

    <div class="my-info">
        <div class="my-info-item">
            <h2>Software Engineer</h2>
            <p>As software engineer, I have a passion for crafting innovative solutions and enhancing user experiences. My journey into the world of technology began at Moringa School, where I honed my skills and gained a solid foundation in software engineering.</p>
            <p>During my time at Moringa School, I delved into various aspects of software development, building a strong understanding of programming languages, algorithms, and problem-solving techniques. This educational background laid the groundwork for my professional journey.</p>
            <p>I had the invaluable opportunity to apply my knowledge and skills through an apprenticeship at Italanta, where I had the privilege of working on exciting projects involving Angular apps and Firebase. This hands-on experience allowed me to delve deeper into the practical aspects of software development, from designing robust applications to implementing scalable solutions.</p>
            <p>Working with Italanta not only expanded my technical expertise but also provided insights into collaborative teamwork and effective communication within a development environment. The dynamic nature of building Angular apps and utilizing Firebase further enriched my skill set, equipping me with the tools to create modern and efficient web applications.</p>
            <p>As a software engineer, I am committed to staying abreast of the latest industry trends and technologies, ensuring that my skill set remains current and relevant. My goal is to continue contributing to the ever-evolving field of software engineering, creating impactful solutions that make a positive difference.</p>
            <p>As a software engineer, I am committed to staying abreast of the latest industry trends and technologies, ensuring that my skill set remains current and relevant. My goal is to continue contributing to the ever-evolving field of software engineering, creating impactful solutions that make a positive difference.</p>
        </div>
    </div>

    <div class="my-info">
        <div class="my-info-item">
            <h2>Data Center Engineer</h2>
            <p>I am a seasoned Data Center Engineer with over three years of hands-on experience in the dynamic and critical realm of data center operations. My professional journey has equipped me with a comprehensive skill set that spans various aspects of data center management, ensuring the seamless functioning of critical infrastructure.</p>
            <p>My expertise lies in performing crucial operations within the data center environment, where I have successfully executed tasks such as rack installations, ensuring the physical integrity and optimal performance of servers and associated equipment. I take pride in my ability to meticulously handle monitoring processes, ensuring the continuous health and performance of systems, and promptly addressing any anomalies that may arise.</p>
            <p>As a reliable point of contact for customers, I have served as the first line of support, demonstrating exceptional troubleshooting skills to resolve issues swiftly and efficiently. I am well-versed in ticketing systems, utilizing them to track, prioritize, and manage tasks effectively, ensuring that the data center operates at peak efficiency.</p>
            <p>One of my key responsibilities involves cross-connecting customers, facilitating seamless communication and data exchange within the data center ecosystem. This demands a keen understanding of networking principles and a proactive approach to meeting customer connectivity needs promptly and accurately.</p>
            <p>Over the years, I have honed my communication skills to foster strong relationships with customers and internal teams. Being the first point of contact for customers, I understand the importance of clear and concise communication to address concerns, provide updates, and ensure a positive customer experience.</p>
            <p>In this ever-evolving field, I am committed to staying updated with the latest advancements in data center technology and industry best practices. My dedication to maintaining a robust and efficient data center environment reflects my passion for contributing to the backbone of modern technological infrastructure.</p>
            <p>In summary, I bring a wealth of experience in data center operations, rack installations, monitoring, ticketing, troubleshooting, and customer interactions. My proactive and detail-oriented approach, coupled with strong technical acumen, positions me as a valuable asset in the fast-paced and critical world of data center engineering.</p>
        </div>
    </div>

    <div class="my-info">
        <div class="my-info-item">
            <h2>Instrumentation & Control Technician</h2>
            <p>After completing my university studies, embarked on a rewarding journey in the field of instrumentation and control technology. During my internship at Kibos Sugar Company, I served as an Instrumentation and Control Technician for three months, where I played a pivotal role in ensuring the efficient and seamless operation of various processes within the company.</p>
            <p>In the dynamic environment of Kibos Sugar Company, I took on a range of responsibilities that showcased my technical prowess and problem-solving abilities. Some of my key achievements during this period include:</p>
            <p><em>Repairing and installing directional valves on hydro loaders in the cane yard:</em> I contributed to the reliability of equipment crucial for cane handling and processing.</p>
            <p><em>Servicing and installing AC-DC converters in the cane yard:</em> Ensuring the smooth functioning of converters essential for powering equipment in the cane yard.</p>
            <p><em>Installing and calibrating chute level and roller lift sensors in the mills:</em> Precision installation and calibration of sensors to optimize milling processes.</p>
            <p><em>Servicing and installing flow meters in the mills:</em> Contributing to accurate measurement and control of flow within the milling system.</p>
            <p><em>Servicing and connecting pressure switches used for interlocking systems in the mills:</em> Enhancing the safety and efficiency of interlocking systems in the milling processes.</p>
            <p><em>Calibrating and installing pressure, temperature, and vacuum gauges in the boiling house:</em> Ensuring accurate measurement and monitoring of critical parameters in the boiling house.</p>
            <p><em>Troubleshooting temperature indicators and scanners in the boiling house:</em> Swift identification and resolution of issues to maintain optimal performance.</p>
            <p><em>Installing and performing general maintenance of compressors and air dryers in the boiling house:</em> Contributing to the reliability of air compression systems crucial for various processes.</p>
            <p><em>Reprogramming and maintaining distributed control systems (DCS) and programmable logic controllers (PLCs) in the boiling house:</em> Technical expertise in maintaining and optimizing control systems.</p>
            <p><em>Performing general maintenance of pneumatic cylinders and solenoid valves in the boiling house:</em> Ensuring the reliability of pneumatic systems.</p>
            <p><em>Conducting corrective measures on control valves and transmitters in the co-gen section:</em> Swift and effective resolution of issues in pressure reducing and de-superheating systems.</p>
            <p><em>Linking and operating turbine and boiler peripherals to the distribution control systems in the co-gen section:</em> Integration of various components for efficient co-generation.</p>
            <p><em>Installing and connecting temperature scanners, resistance temperature detectors (RTDs), and thermocouples in the co-gen section:</em> Precision installation of temperature measurement devices.</p>
            <p><em>Maintaining motor control circuits and starting methods in the co-gen section:</em> Ensuring the reliability of motor control systems.</p>
            <p>My experience at Kibos Sugar Company not only enhanced my technical skills but also instilled in me a deep understanding of the importance of precision and efficiency in industrial processes. I am enthusiastic about leveraging my expertise to contribute to future projects and challenges in the field of instrumentation and control technology.</p>
        </div>
    </div>
    
</section>
